.heroContainer {
    background-color: black;
    height: 352px;
    background-image: url('../../assets/img/Banner.png');
    background-repeat: no-repeat;
    background-size: auto;

    position: relative;

    .heroTitulo {
        font-size: 52px;
        font-weight: 700;
        font-family: inherit;
        line-height: 61.05px;
    }

    .heroTexto {
        font-size: 22px;
        font-weight: 700;
        font-family: inherit;
        line-height: 25.85px;
    }

    .conteudoHero {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
    }

    .conteudoHero {
        position: absolute;
        left: 152px;
        top: 150px;

        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & button {
        width: 130px;
        height: 51px;
        background-color: #2A7AE4;
        color: #FFFFFF;
    }

}