main {
    background-color: #F5F5F5;
    margin: 0px;
}

.mainContainer {
    padding: 54px 152px;

    
    & a {
        color: #2A7AE4;
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        line-height: 18.78px;
    }

    & .mainHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;

        .mainHeaderTitulo {
            font-size: 32px;
            font-weight: 700;
            line-height: 37.57px;
            color: #464646;
        }

        .verTudo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 12px;
            
            & button {
                background-image: url('../../assets/img/Seta.png');
                background-repeat: no-repeat;

                border: none;
                width: 16px;
                height: 16px;
            }

        }
    }

    
    .card {
        width: 176px;
        height: 252px;

        .cardConteudo {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 8px;

            & h2 {
                font-size: 14px;
            }

            & p {
                color: #464646;
                font-weight: 700;
                font-family: inherit;
                font-size: inherit;
            }
        }
    }
}