.cardImg {
    width: 176px;
    height: 174px;
}

.cardsContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .cardConteudo {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media screen and (max-width: 1400px) {
            margin-bottom: 10px;
        }

        h2 {
            font-weight: 500;
            font-size: 14px;
        }

        p {
            font-weight: 700;
        }

    }
}
