.Header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 32.5px 152px;

    .container {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
    }

    @media screen and (max-width: 874px){
        margin: 16px 32px;
    }

    @media screen and (max-width: 562px){
        .container {
            gap: 0px;
        }
    }

    @media screen and (max-width: 500px){
        .Header {
            margin: 16px 16px;
        }
    }
}

