.footer {

    .footerContainer {
         background-color: #EAF2FD;
    }

    .primeiroContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 64px 152px;
    }
    
    .segundoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 0px;
    }

}